<h1>Search Page</h1>

<h2>Add term to search omdb for a movie</h2>
<form action="/results" method="GET">
    <input type="text" name="search" placeholder="search term"></input>
    <button type="btnSearch" default=true>Search</button>
</form>